html{
    scroll-behavior: smooth;
}

body {
    background-color: #fafafa;
    
}


contianer{
    margin-top: 100px;
    border:  2px ;
}
.heading{
    background-color: #ffffff;
    border: 1px solid #e6e6;
    width: 350px;
    margin:5px;
    margin-top: 100px;
    margin-left: 50%;
    
    padding: 40px;
}

p
{
    font-weight: 600px;
    line-height: 20px;
    font-size: 15px;
    color: #999;
}
h1{
    font-size: 20px;
    font-weight: 700px;
    color: black;
    text-shadow:2px 2px #febd01;
  
    font-family: cursive;
}
button img
{
    height: 18px!important ; 
    padding: 0 8px 2px;
}
.or{
    font-size: 14px!important;
    color: #999;
    font-weight: 600px;
    
}
.or::before{
    content: '';
    background: #efefef;
    display: block;
    height: 2px;
    width: 110px;
    position: relative;
    top: 10px;
}
.or::after{
    content: '';
    background: #efefef;
    display: block;
    height: 2px;
    width: 110px;
    position: relative;
    bottom: 10px;
    left: 160px;
}
.form-group{
    margin-bottom: 6px!important;
    
}
.form-control{
    background: #fafafa!important;
    border: 1px solid #efefef!important ;
    font-size: 12px!important;
    
}
::placeholder{
    color: #999!important;
}
.btn{
    padding: 12px!important;
    margin: 12px auto;
    font-weight: 600px;
    
}
.btn-primary {
    background-color: #3897f0!important;
    box-decoration-break: 1px solid #3897f0!important;
}
.terms{
    line-height: 18px;
    font-size: 14px;
    color: #999;
    margin: 5px 20px;
}
right-column-login
{
    background-color: #fff;
    border: 1px solid #e6e6e6;
    width: 35px;
    margin: 10px;
    padding: 20px;
}
.right-coloumn-login a:hover{
    text-decoration: none;
}
